.featured {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}
.featuredImg {
  width: 100%;
  object-fit: cover;
  margin-left: 10px;
  border: none;
  border-radius: 3.5%;
  cursor: pointer;
}
.featuredItem {
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
}
.featuredTitles {
  position: absolute;
  bottom: 5px;
  left: 20px;
}
.featuredImg:hover {
  transform: translateY(-5px); /* Move up slightly on hover */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Add a stronger shadow on hover */
}
.featuredItem:hover .featuredImg {
  transform: scale(1.05); /* Slight zoom on hover */
}
